OPENAI_API_KEY=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
DEFAULT_AGENT_MODEL=gpt-4.1-mini

# Optional: Anthropic (Claude)
ANTHROPIC_API_KEY=sk-ant-...

# Vapi.ai
VAPI_API_KEY=293228fb-5787-4ac2-a338-666773f02687
VAPI_BASE_URL=https://api.vapi.ai

# Supabase (for mock booking database)
SUPABASE_URL=https://xrpqvrokwqjnzidxcsht.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhycHF2cm9rd3FqbnppZHhjc2h0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5MDMxNTksImV4cCI6MjA5MTQ3OTE1OX0.4BPVE3AD7lUKXbFJrDCvUAS9ugrNBmmsh_1AJWCnhIM
SUPABASE_PUBLISHABLE_KEY=sb_publishable_aeSTEqWGes22NQuYLBF3OA_PG_sulno

# Telegram
TELEGRAM_BOT_TOKEN=8760123730:AAHgTrCl-4z-4G9CcQUrGk-wthSDiNFoMOQ
